.Root {
  padding: 24px;
}

.Company {
  &Info {
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
  }
}

.Link {
  color: inherit;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.Links {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.Logo {
  height: 32px;
}

.Social {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 14px;

  &Link {
    display: block;
    height: 24px;
    width: 24px;

    &:not(:first-child) {
      margin-left: 16px;
    }
  }

  &List {
    display: flex;
    margin-top: 16px;
  }
}

.Wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
