.Root {
  padding: 80px 24px;
}

.Nav {
  display: flex;

  &Item {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    &:not(:first-child) {
      margin-left: 48px;
    }
  }

  &Link {
    color: inherit;
    margin-bottom: 8px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &Title {
    font-weight: 500;
    margin-bottom: 12px;
  }
}

.Video {
  background: #1C3B4F;
  height: 120px;
  width: 280px;
}

.Wrapper {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .Root {
    padding: 52px 0;
  }

  .Nav {
    flex: 1 1 auto;
    flex-direction: column;

    &Item {
      display: flex;
      flex-direction: column;
      font-size: 14px;

      &:not(:first-child) {
        margin: 0;
      }

      &:hover {
        .NavSubmenu {
          display: flex;
        }

        .NavTitle {
          background: #DADEE2;

          &With {
            &Caret {
              &:after {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }

    &Link {
      align-items: center;
      background: #DADEE2;
      border-top: 1px solid #FFFFFF;
      display: flex;
      font-size: 20px;
      font-weight: 500;
      height: 44px;
      justify-content: center;
      margin: 0;
    }

    &Submenu {
      display: none;
      flex-direction: column;
    }

    &Title {
      align-items: center;
      color: inherit;
      display: flex;
      font-size: 20px;
      font-weight: 600;
      height: 44px;
      justify-content: center;
      margin: 0;
      text-decoration: none;

      &With {
        &Caret {
          &:after {
            background: url('../assets/arrow-dark.svg') no-repeat center center;
            background-size: contain;
            content: '';
            display: block;
            height: 4px;
            margin-left: 8px;
            width: 12px;
          }
        }
      }
    }
  }

  .Right {
    display: none;
  }
}
